<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>148491058747-pvmqiqa8a6ccsdenj0r7o98rur67ch0l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.148491058747-pvmqiqa8a6ccsdenj0r7o98rur67ch0l</string>
	<key>API_KEY</key>
	<string>AIzaSyDOsnoCeSLjmo3gQqUP7Chiuu_-ot6mId8</string>
	<key>GCM_SENDER_ID</key>
	<string>148491058747</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.quizzler.quizzler</string>
	<key>PROJECT_ID</key>
	<string>quizzler-play-ai</string>
	<key>STORAGE_BUCKET</key>
	<string>quizzler-play-ai.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:148491058747:ios:21131247f7390ef9dee61e</string>
</dict>
</plist>